 @{
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    ViewData["Title"] = "All Topics";
}

 
   <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Topics</a>
                        </li>
                        <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
									<h4>All Topics</h4>
                                    <p>All about students like name, student id, phone, email, country, city and more</p>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>S/No.</th>
													<th>Title</th>
													<th>View Details</th>
													<th>Edit</th>
													<th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>

                                                    <td>Admissions Information 2018</td>

                                                    <td><a asp-controller="Topic" asp-action="ViewTopicDetails" style="background-color:blue" class="ad-st-view">View Details</a></td>
                                                    <td>
                                                        <a asp-controller="Topic" asp-action="UpdateTopic" style="background-color:green" class="ad-st-view">Edit</a>
                                                    </td>
                                                    <td><a style="background-color:red" class="ad-st-view">Delete</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>