@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Question Details";
}

<div class="sb2-2-add-blog sb2-2-1">
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade active in">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Question Information</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                </div>
                                <div class="bor">
                                    <form>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="list-title" type="text" value="Marine Engineering" class="validate">
                                                <label for="list-title" class="">Question</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="list-name" type="text" value="John Smith" class="validate">
                                                <label for="list-name">Points</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="list-name" type="text" value="John Smith" class="validate">
                                                <label>Module</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>