 @{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Option Details";
}

<div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#">Option Deatails</a>
                        </li>
                        <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Option Information</h4>
                                    <p>Provide the following details to add a new Option</p>
                                </div>
                                <div class="tab-inn">
                                    <form>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input type="text" value="" class="validate" disabled>
                                                <label class="">Label</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input type="text" value="" class="validate" disabled>
                                                <label class="">Option</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                          <input type="text" value="" class="validate" disabled>
                                                <label class="">Status</label>
                                            </div>
                                             <div class="input-field col s6">
                                                <input type="text" value="" class="validate" disabled>
                                                <label class="">Question</label>
                                            </div>
                                        </div>                                
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
