<!DOCTYPE html>
<html lang="en">


<head>
    <title>EEducation Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EEducation master is one of the best eEducational html template, it's suitable for all eEducation websites like university,college,school,online eEducation,tution center,distance eEducation,computer eEducation">
    <meta name="keyword" content="eEducation html template, university template, college template, school template, online eEducation template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="~/edu/images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="~/edu/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="~/edu/css/materialize.css" rel="stylesheet">
    <link href="~/edu/css/bootstrap.css" rel="stylesheet" />
    <link href="~/edu/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="~/edu/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
                <a href="index-2.html" class="logo"><img src="~/edu/images/logo1.png" alt="" />
                </a>
            </div>
            <!--== SEARCH ==-->
            <div class="col-md-6 col-sm-6 mob-hide">
                <form class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
            </div>
            <!--== NOTIFICATION ==-->
            <div class="col-md-2 tab-hide">
                <div class="top-not-cen">
                    <a class='waves-effect btn-noti' href="admin-all-enquiry.html" title="all enquiry messages"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href="admin-course-enquiry.html" title="course booking messages"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href="admin-admission-enquiry.html" title="admission enquiry"><i class="fa fa-tag" aria-hidden="true"></i><span>5</span></a>
                </div>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div class="col-md-2 col-sm-3 col-xs-6">
                <!-- Dropdown Trigger -->
                <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'><img src="images/user/6.png" alt="" />My Account <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

                <!-- Dropdown Structure -->
                <ul id='top-menu' class='dropdown-content top-menu-sty'>
                    <li><a href="admin-panel-setting.html" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Admin Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-1">
                <!--== USER INFO ==-->
                <div class="sb2-12">
                    <ul>
                        <li><img src="~/edu/images/placeholder.jpg" alt="">
                        </li>
                        <li>
                            <h5>Victoria Baker <span> Santa Ana, CA</span></h5>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <!--== LEFT MENU ==-->
                <div class="sb2-13">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Profile</a>                          
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Instructor" asp-action="InstructorProfile">View Profile</a>
                                    </li>
                                    <li><a asp-controller="Instructor" asp-action="UpdateInstructor">Update Profile</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
						<li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Modules</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Module" asp-action="ViewAllModules">Voew All Modules</a>
                                    </li>
                                     <li><a asp-controller="Module" asp-action="AddModule">Add Module</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </li>
                         <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Topics</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Topic" asp-action="ViewAllTopics">View All Topics</a>
                                    </li>
                                    <li><a asp-controller="Topic" asp-action="AddTopic">Add Topic</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Questions Bank</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Question" asp-action="ViewAllQuestions">View All Questions</a>
                                    </li>
                                    <li><a asp-controller="Question" asp-action="AddQuestion">Add New Question</a>
                                    </li>
                                    <li><a asp-controller="Option" asp-action="ViewAllOptions">View All Learners</a>
                                    </li>
                                    <li><a asp-controller="Option" asp-action="AddOption">Add New Learner</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>My Courses</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Course" asp-action="CoursesList">View Assigned Courses</a>
                                    </li>
                                 
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>My Assignments</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Assignment" asp-action="ViewAllCategories">View All Course Categories</a>
                                    </li>
                                    <li><a asp-controller="Assignment" asp-action="AddCategory">Add New Course Category</a>
                                    </li>
                                
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> All Courses</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a asp-controller="Course" asp-action="CoursesList">All Course</a>
                                    </li>
                                    <li><a asp-controller="Course" asp-action="AddCourse">Add New Course</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                        
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Course Requests</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="admin-all-courses.html">View Pending Course Requests</a>
                                    </li>
                                     <li><a href="admin-all-courses.html">View Approved Course Requests</a>
                                    </li>
                                    <li><a href="admin-add-courses.html">View Rejected Course Requests</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>

            <!--== BODY INNER CONTAINER ==-->
            <div class="container-fluid">
     <main role="main" class="pb-3">
           @RenderBody()
      </main>
   </div>

        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script src="~/edu/js/main.min.js"></script>
    <script src="~/edu/js/bootstrap.min.js"></script>
    <script src="~/edu/js/materialize.min.js"></script>
    <script src="~/edu/js/custom.js"></script>
</body>


</html>